.git
.github
.turbo
.pnpm-store
.vscode
.claude
.agents
.ruby-lsp

node_modules
**/node_modules
coverage
dist
build

.env
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

apps/mobile
apps/web
packages
docs/designs
internal

.DS_Store
