NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fom_platform_api?schema=public"
JWT_ACCESS_SECRET="dev_access_secret_change_me_facebook_order_manager"
JWT_REFRESH_SECRET="dev_refresh_secret_change_me_facebook_order_manager"
REDIS_URL="redis://localhost:6379/0"
WEB_APP_BASE_URL="http://localhost:3000"

PLATFORM_OWNER_EMAIL=owner@fom-platform.local
PLATFORM_OWNER_PASSWORD=Password123!
PLATFORM_OWNER_NAME=Platform Admin

# Email
EMAIL_PROVIDER="log"
EMAIL_FROM_EMAIL="no-reply@fom-platform.local"
EMAIL_FROM_NAME="FOM Order Manager"
EMAIL_SUPPORT_EMAIL="support@fom-platform.local"
EMAIL_PRODUCT_NAME="FOM Order Manager"

# SendGrid
SENDGRID_API_KEY=""
EMAIL_SENDGRID_FROM_EMAIL=""
EMAIL_SENDGRID_FROM_NAME=""

# SMTP
EMAIL_SMTP_HOST=""
EMAIL_SMTP_PORT=587
EMAIL_SMTP_SECURE=false
EMAIL_SMTP_USER=""
EMAIL_SMTP_PASSWORD=""
EMAIL_SMTP_IGNORE_TLS=false
EMAIL_SMTP_REQUIRE_TLS=false
EMAIL_SMTP_FROM_EMAIL=""
EMAIL_SMTP_FROM_NAME=""
